 
 @using Apt.Core.Domain.Appointments
 
 @model Appointee

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewAppointee</title>
</head>
<body>
     <div>
        @using (Html.BeginForm())
        {
        <div>
       
         @if (ViewBag.IsPresent)
         { 
             <div>View Appointee Details  <br /><br />
             
             First Name:   @Model.FirstName <br />
             Last Name:   @Model.LastName <br />  </div>
         }
         else
         {
             <div> Appointee does not exist !</div>
         }        
      
        </div>
            
        }
    </div>
</body>
</html>
